body {
  margin: 0;
  background-color: #e46f6f;
}

.title {
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  margin: 1em;
}

.app-container {
  height: 50vh;
  overflow-y: scroll;
}
